.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header {  
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display:flex;
  background-color: #f2f2f2;  
  position: relative;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  }
.logo{
position: absolute;
justify-content: none;
top: 30px;
left: 64px;
}
.header__title{ 
  font-size: 102px;
  line-height:96px;
  position: absolute;
  width: 730px;
  z-index: 2;
  left: 64px;   
}
.header__subtitle{
  position: absolute;
  bottom: 30px;
  left:64px;
  width:388px;
  font-size: 18px;
  line-height:25px;
  z-index: 2;  
}
.link_decoration{
  color: #2f80ed;
  text-decoration:none;
}

.header__square-pic{
  position: absolute;
  background-color: #2f80ed ;
  right:0;
  top: 64px;
  width: 568px;
  height: 568px;
}
.header__main-illustration{
  position: absolute;
  right:0;
  bottom:0;  
  width: 765px;
  height:608px;
  z-index: 1;
}
.subtitle{
position: absolute;
margin:0px 64px 30px 0px ;
}

.description{
  padding-top:100px ;
}
.two-columns{
  display:flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto; 
  }
.two-columns__brief{
  margin: 0;
  width: 175px;
  font-size: 18px;
  line-height:1.2;
  font-weight: normal;
  color:#2f80ed;
}
.two-columns__main-text{ 
  width: 80%; 
  min-width: 784px;
  font-size: 24px;
  line-height:34px;  
  padding-bottom: 0;
}
.two-columns__paragraph1{  
  margin-top:0;
} 
.two-columns__paragraph2{  
  margin-bottom:0;
}
.digits{  
  padding-top:100px;
}
.section-title{
  text-align: center;  
  line-height: 1.15;
  font-size:60px;
  font-weight: bolder;
  width: 60%;
  margin: 0 auto 20px auto;
}
.section-subtitle{
  width: 60%;
  margin: 0 auto;
  text-align: center;  
  line-height: 34px;
  font-size:24px;
  font-weight: normal;
}

.table{
  display:flex; 
  flex-wrap: wrap;
  margin: 0 auto 100px auto;
  width: 1100px;   
  justify-content:space-between;  
}
.table_cell{
   width:250px;
   display:flex;
  flex-direction: column;
  margin-top:80px;
   
}
.table_heading{
  margin: 0 ;
  line-height: 1.15;
  font-size:24px;
  font-weight: bolder;
}
.table_text{
  margin-top: 20px;
  line-height: 1.2;
  font-size:18px;
  font-weight: normal;
  margin-bottom: 0;
}

.feynman{
  display: flex;
  flex-direction: column;
  position: relative;  
  height:890px;
  background-color: #f2f2f2;
}
.feynman_image{
  position: absolute;
  left:0;
  bottom: 0; 
  width: 867px;
  height:637px;
  z-index: 1; 
}
.feynman_title{
  width: 648px;
  margin:100px auto 70px auto;
  text-align: center;  
  line-height: 1.15;
  font-size:120px;
  font-weight: bolder;
  z-index: 2;
}
.feynman_subtitle{
  text-align: center;  
  line-height: 51px;
  font-size:36px;
  font-weight: normal;
  margin: 0 auto; 
  z-index: 2;
}
.feynman_link{
  position: absolute;
  top:50%;
  right: 48px;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color:#2f80ed;
}
.kaufman {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color:#1f1f1f;
  overflow: hidden; 
  color: white;
  padding-top:100px;
}
.triangle{
  position: absolute;
  right:-210px; 
  top:0; 
  z-index: 1;
  width:877px;
  height:877px;
}
.table__theme_dark{
  z-index: 2; 
}
.table_cell__theme_dark{
  width:200px;
}
 .footer{
  background-color:#1f1f1f;
  color: white;
  min-height: 350px;  
  padding-top:60px;
  padding-bottom: 40px;
}
.footer__columns{
  width:90%;
   display:flex;
   margin: 0 auto;
  flex-direction: row;
  position:relative; 
  min-height: 350px;
  justify-content:space-between;
}
.footer__author{
  position:absolute;
  left:0;
  bottom: 0;
  margin: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.logo__place_footer{
  width:183px;
  height:35px;
}
.footer__column_content_info {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link{
  text-decoration: none;
  color: white;
  margin:0;
}
.footer__column_content_copyright{
  flex-basis:711px;
  display:flex;
  flex-direction: column;  
}
.footer__social_icon{
  width: 16px;
  height: 16px;
}
.footer__column_content_social{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-links{
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal; 
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}
